DB_NAME=jam_db
DB_USER=jam_user
DB_PASSWORD=jam_password

DOCKERHUB_USERNAME=yourdockerhubuser
IMAGE_TAG=latest

STAFF_PASSWORD=0000

MAIL_HOST=smtp.your-provider.com
MAIL_PORT=587
MAIL_SECURE=false
MAIL_USER=your_smtp_user
MAIL_PASS=your_smtp_password
MAIL_FROM=Jam Session XV <noreply@yourdomain.com>
